<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>vuejs-全选-下面这段代码和vuejs官网里面checkbox绑定很像。不明白的可以直接上vuejs官网看看。
</title>
<style type="text/css">
* {
    padding: 0;
    margin: 0;
}
a {
    color: #333;
    text-decoration:none;
}
</style>
</head>
<body>
<label>
    <input type="checkbox" name="all" v-on:click="chooseAll" v-model="selectArr.length==goodsList.length" />
    <span>全选</span>
</label>
<div v-for="(index, item) in goodsList">
    <a href="javascript:;">
        <input type="checkbox"  :value="index" v-model="selectArr" />
        商品名称:<span v-html="item.name"></span> |
        价格:<span v-html="item.price"></span>
    </a>
</div>
<label>
    <input type="checkbox" name="all" v-on:click="chooseAll" v-model="selectArr.length==goodsList.length" />
    <span>全选</span>
</label>
<script src="http://cdn.bootcss.com/vue/1.0.7/vue.js"></script>
<script>
var vue = new Vue({
    el : 'body',
    data : {
        goodsList : [
            {
                name : '山本汉方1',
                price : '19.00'
            },
            {
                name : '山本汉方2',
                price : '19.00'
            },
            {
                name : '山本汉方3',
                price : '19.00'
            },
            {
                name : '山本汉方4',
                price : '19.00'
            },
            {
                name : '山本汉方5',
                price : '19.00'
            },
        ],
        selectArr : []
    },
    ready : function() {},
    methods : {
        chooseAll : function(event) {
            var oThis = this;
            oThis.selectArr = [];
            if ( event.currentTarget.checked ) {
                oThis.goodsList.forEach(function(item , index) {
                    oThis.selectArr.push(index);
                });
            }
            console.log(oThis.selectArr);
        }
    }
})
</script>
</body>
</html>